*{
	margin: 0;
	padding: 0;
	font-family: rokkittregular;
	color: gray;
    line-height: 24px;
}
body{

	background-image: url('../Images/bg-body.jpg');
	background-color: #FEFEFE;
}
.header{
	display: flex;
	width: 100%;
	background-image: url('../Images/bg-header.jpg');
	background-color: #412D15;
	color: white !important;
	font-family:sans-serif;
	height: 125px;
}

.logo{
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.menu{
	display: flex;
	flex: 1;
	justify-content: center;
}
.menu ul{
	display: flex;
	list-style-type: none;
	font-weight: 400;
	align-items: flex-end;
	flex: 1;
}
.menu li{
	padding: 20px;
	padding-top: 0 ;
}
.menu a{
	text-decoration: none;
	color: white;
}
.menu a:hover{
	color: yellow;
}
.menu .blog{
	color: #FFF600;
}
.donate_button{
	padding:20px 20px 10px 20px;
	border: 2px solid white;
	border-top: 0px;
	background-color: #8FAE00;
	position: absolute;
	top: 0px;
	right: 10%;
	border-radius: 10px;
	font-weight: 700;
	color: white;
}
.donate_button a{
	text-decoration: none;
}
.donate_button:hover{
	background-color: #CC6A00;
}
.blog_content{
    width: 78%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
	flex-direction: row;
}
.blog_column_1{
	display: flex;
	flex-direction: column;
	flex: 3.2;
	margin-right: 20px;
}
.row_1_column_1{
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
}
.row_1_column_1 .comment_link{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	flex: 1;
}
.cmt_img{
	margin-right: 10px;
}
.blog_row_3, .blog_row_2{
	padding: 20px 0px;
}
.avatar img{
	height: 70px;
}
.reply_form{
	display: flex;
	padding-top: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
label p{
	padding-top: 20px;
	padding-bottom:10px ;
}
.form_col_1{
	margin-right: 30px;
}
.form_col_1 input{
	height: 20px;
	width: 300px;
}
.form_col_2{
	margin-top: 60px;
}
.form_col_2 textarea{
	height:150px ;
	width: 400px;
}
.submit{
	padding: 10px;
	background-color: #8FAE00;
	color: white;
	border-radius: 10px;
	border:1px solid white;
}
.blog_row_2 {
	padding-bottom: 40px;
	border-bottom:1px solid #646346;
}
.colored{
	color: #CC6A00;
	text-decoration: none;
}
.holder h3>a{
	color: #412D15;
	font-weight: 400;
	text-decoration: none;
}
.comment_head{
    margin-top: 30px;
    color: #412D15;
    font-weight: 400;
    font-size: 20px;
}
.holder p>a{
    color: #412D15;
    text-decoration: none;
}
.holder p>a:hover{
    color: #CC6A00;
    text-decoration: underline;
}
.comment_link a{
    color:#CC6A00;
    text-decoration: none;
}

div[class^=section_]{
    display: flex;
    flex-direction: column;
    flex:1;
    margin-top: 40px;
}
div[class^=section_] h3{
    padding: 20px;
    padding-left: 0%;
	color:#412D15;
	font-weight: 500;
}
.section_3{
	box-sizing: border-box;
	background-color: lightgray;
	height: 850px;
	border: 1px solid gray;
	size: 14px;
	line-height: 24px;
}

.section_3 a{
	text-decoration: none;
	color: #CC6A00;
	size: 14px;
	line-height: 24px;
}
.section_3 ul{
	list-style-type: none;
	padding: 20px 20px 10px 20px;
	border-bottom:1px solid #FEFEFE;

}
.gallery_section3{
	padding: 20px 20px 10px 20px;
}
.gallery_section3 a{
		margin-right: 10px;
}
.gallery_section3 img{
	
	margin-bottom: 10px;
}
.gallery_section3 h5{
	margin-bottom: 10px;
	color: #412D15;
}

h5[class="title"]{
	color: #412D15;
	font-size: 14px;
	line-height: 24px;
	font-weight: 200;
}









a[class~="link"]{
	text-decoration: none;
	color: #CC6A00;

}
p[class~="title"]{
	color: #646346;
	line-height: 1.6;
}
.customer_service,.twitter,.get_in_touch{
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: flex-start;
	margin: 10px;
	
}
.footer{
	width:100%;
	height: 200px;
	background-image: url('../Images/bg-footer.jpg');
	padding-bottom: 40px;
	border-bottom-style: groove;
}
.footer_container{
	display: flex;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.icon_container{
	display: flex;
	flex: 1;
}
.icon_container a[class~="link"]{
	color:#CC6A00 ;
}
.icon{
	padding-right: 5px;
}
div[class~=title]{
	display: flex;
	justify-content: center;
}
.customer_service p{
	box-sizing: border-box;
	padding-right: 10px;
	
}
.twitter{
	flex: 2;
}
.twitter div[class~="title"]{
	flex: 0;
}
.twitter div{
	flex: 1;
} 
.get_in_touch{
	display: flex;
	flex: 1;
}
.icon_container a{
	text-decoration: none;
	color: gray;
}
.icon_container ul{
	list-style-type: none;
}
.icon_container li{
	padding: 5px;
}
.green{
	color: green;
	margin-right: 10px;
}
.copyright{
	display: flex;
	width: 75%;
	height: 80px;
	flex-direction: row;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}
.copyright .menu{
	flex: 1;
	align-items: flex-start;
	font-size: 11px;
}
.copyright .menu li{
	padding-left: 15px;
	padding-right: 15px;
}
.footer_menu a{
	color: gray;
}
.copyright_container{
	flex: 1;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	font-size: 11px;
}
.footer_menu a:hover{
    color: #1d160e;
}